# ファイル名が .log で終わるファイルを無視
*.log

# 'temp' ディレクトリ内の全てのファイルを無視
# test1.txt
# C:\Users\thase\OneDrive\デスクトップ\業務資料\40_資料\20_Azure\240126_立命館\temp\test1.txt
# C:\Users\thase\OneDrive\デスクトップ\業務資料\40_資料\20_Azure\240126_立命館\temp\test3.txt
# test4.txt

# 'config.json' という名前のファイルを無視
config.json


# # ファイル
# temp/test1.txt

# # フォルダ
# temp/

temp/
test1.txt
test3.txt